<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>airbnb</title>

    <!-- BootStrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 
  
    <!-- Style Sheets -->
    <link rel="stylesheet" href="styles.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&family=Ubuntu:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">

    <!-- FontAwesome JS link -->
    <script src="https://kit.fontawesome.com/44071f0dee.js" crossorigin="anonymous"></script>

</head>

<body>
    <section class="coloured-section-1">

        <div class="container-fluid">

            <!--Nav Bar-->
            <nav class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand" href="#"><i class="fa-brands fa-airbnb"></i> airbnb</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">   
                    <ul class="navbar-nav ms-auto">           <!--m: margin; s: start/left; auto: fills up maximum space it can-->
                        <li class="nav-item">
                          <a class="nav-link" href="#amenities">Amenities</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#slide-show">Photos</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#review">Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Location</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Title -->
            
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="big-heading" id="title">Super Luxurious 3BHK Villa with Private Pool- EKOSTAY.</h1>
                </div>
                <div class="col-lg-6">
                    <img class="title-img-1" src="images/image-1.jpg" alt="resort-img">
                </div>
            </div>
        </div>            
    </section>
    
    <section>
        <div class="title-img-2">
            <img class="title-img-2" src="images/image-2.jpg" alt="villa-img">
        </div>
    </section>
    
    <section class="coloured-section-2" id="amenities">
        <div class="row">
            <div class="col-lg-6">    
                <h1>Entire villa hosted by Alexander.</h1>
                <br>
                <p>14 Guests <i class="fa-solid fa-person-walking-luggage"></i> </p>
                <p>3 Bedrooms <i class="fa-solid fa-house"></i></p>
                <p>TV <i class="fa-solid fa-tv"></i></p>
                <p>Wi-Fi <i class="fa-solid fa-wifi"></i></p>
                <p>Air Conditioner <i class="fa-solid fa-wind"></i></p>
                <p>Games <i class="fa-solid fa-table-tennis-paddle-ball"></i></p>
                <p>Private Pool <i class="fa-sharp fa-solid fa-water-ladder"></i></i></p>
                <p>Kitchen <i class="fa-solid fa-utensils"></i></p>
                <p>Valley View<i class="fa-solid fa-mountain-sun"></i></p>
                <p>Free Parking <i class="fa-solid fa-car"></i></p>
            </div>
            <div class="col-lg-6 image-div">
                <img class="title-img-3" src="images/image-5.jpg" alt="hotel-img">
                
        </div>
    </div>
</section>

<!-- Slide Show -->
                
<section class="coloured-section-3" id="slide-show">
    <div id="testimonial-carousel" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item container-fluid">
                <img class="testimonial-image" src="images/image-8.jpg" alt="">
            </div>
            <div class="carousel-item active container-fluid">
                <img class='testimonial-image' src="images/image-4.jpg" alt="">
            </div>
            <div class="carousel-item container-fluid">
                <img class="testimonial-image" src="images/image-3.jpg" alt="">
            </div>
            <div class="carousel-item container-fluid">
                <img class="testimonial-image" src="images/image-6.jpg" alt="">
            </div>
            <div class="carousel-item container-fluid">
                <img class="testimonial-image" src="images/image-7.jpg" alt="">
            </div>
            <div class="carousel-item container-fluid">
                <img class="testimonial-image" src="images/image-9.jpg" alt="">
            </div>
        </div>
        
        <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#testimonial-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    
</section>

<!-- Reviews Section -->
 <section class="review" id="review">
  <h1>Review Section</h1>
  <form id="language-detection" action="/predict" method="post">
      <!-- <label for="text">Enter text:</label> -->
      <!-- <textarea name="text" id="text" rows="1" cols="50"></textarea> -->
      <!-- <input class="form-control" type="text" placeholder="Enter review here…" readonly> -->
      <form>
        <div class="form-group row">
          <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="email@example.com">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Your Review: </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter Review here..">
          </div>
        </div>
      </form>
      <br>
      <button type="button" class="btn btn-secondary">Submit</button>
  </form>
  <!-- {% if pred %}
  <div id="result">
      <p>The entered text is in {{ pred }}</p>
  </div>
  {% endif %} -->
  <form id="translation" action="/translate" method="post">
      <!-- <label for="text">Enter text to translate: </label>
      <textarea name="text" id="text" rows="1" cols="50"></textarea> -->
      <br>
      <!-- <h4 for="lang">Select target language: </h4>
      <br>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-light active">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> English
        </label>
        <label class="btn btn-outline-light">
          <input type="radio" name="options" id="option2" autocomplete="off"> Spanish
        </label>
        <label class="btn btn-outline-light">
          <input type="radio" name="options" id="option3" autocomplete="off"> German
        </label>
        <label class="btn btn-outline-light">
            <input type="radio" name="options" id="option4" autocomplete="off"> French
          </label>
      </div>
      <br> -->
      <!-- <button type="submit" name="action" value="translate">Translate</button> -->
  </form>
  <!-- {% if translation %}
  <div id="translation_result">
      <p>The translated text is: {{ translation }}</p>
  </div>
  {% endif %} -->
 </section>    


<!-- <button type="button" class="btn btn-dark btn-lg download-button"><i class="fa-brands fa-apple"></i> Download</button>
<button type="button" class="btn btn-outline-light btn-lg download-button"><i class="fa-brands fa-google-play"></i> Download</button> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="index.js"></script>
</body>

<footer>
    <div class="container-fluid">
        <i class="fa-footer fa-brands fa-twitter"></i>
        <i class="fa-footer fa-brands fa-facebook"></i>
        <i class="fa-footer fa-brands fa-instagram"></i>
        <i class="fa-footer fa-solid fa-envelope"></i>  
        <p>© Copyright airbnb </p>
      </div>
</footer>
</html>